<article style="padding: 3rem;">
    <h1>Websocket chat</h1>
    <form id="form-message">
        <input type="text" id="input-message" required placeholder="Escribe tu mensaje">
        <input type="submit" value="Enviar">
    </form>

    <div id="log-message"></div>
</article>
<script src="/socket.io/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/front.js"></script>